body{
    margin: 0;
    
}
.first-section{
    display: flex;
    flex-direction: row;
}
#firstPart{
    position: relative;
    width: 4px;
    height: 124px;
    left: 156px;
    top: 140px;
    border-radius: 5px ;
    background-color: red;
    
    
}
#first-div-h1{
    position: relative;
    width: 583px;
    height: 160px;
    left: 173px;
    top: 80px;
   
    
}
#first-div-h1 h1{

    font-size: 55px;
    line-height: 50px;
   
}
.peragraph-s1{
    font-size: 18px;
    font-weight: 400;
    width: 471px;
    height: 84px;
    top: 315px;
    left: 157px;
    color: #3E3E3E;font-family: 'Poppins', sans-serif;
}
#first-div-h1 a{
   text-decoration: none;
   width: 172px;
   height: 48px;
   left: 156px;
   top: 418px;
    color: white;
   background: #FF5959;
   border-radius: 5px;
   font-size: 16px;
   padding: 10px 40px;
   line-height: 45px;

   
}
#first-part-flex{
    display: flex;
    flex-direction: row;
}
.text-color{
    color: #FFAD5A;
}
#mini-peragraph{
    font-size: 16px;
    font-weight: 400;
    color: #3E3E3E;
}

.img-part img{
    position: absolute;
    width: 350px;
    height: 450px;
    left: 807px;
    top: -20px;
}
.headline{
    position: absolute;
    width: 454px;
    height: 70px;
    left: 489px;
    top: 605px;
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    text-align: center;
}
.headline span{
    color: #FFAD5A;
}
.second-part-card{
    position: relative;
    width: 360px;
    height: 390px;
    margin: 20px;
    
    margin-top: 600px;
    background-color: rgba(79,157,166,0.1);
    border-radius: 26px;
    font-family: 'Poppins', sans-serif;


}

.second-part-card img{
   
    width: 126px;
    height: 126px;
    left: 8px;
    top: -8px;
    margin-left: 32px;
    margin-top: 25px;
   
    
}
.second-part-card h4{
    
    font-weight: 600;
    font-size: 24px;
    margin-left: 32px;
    font-family: 'Poppins', sans-serif;
   

}
.second-part-card p{
    
    width: 315px;
    height: 101px;
    font-size: 16px;
    line-height: 24px;
    color: #424242;
    margin-left: 32px;
    font-family: 'Poppins', sans-serif;
   
    
    
}
.second-part{
    display: flex;
    flex-direction: row;
    padding-right: 24px;
    margin-left: 100px;
    margin-right: 100px;
}

.second-img img{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 158px;
    top: 1185px;
    margin-top: 100px;
}
.third-part{
    display: flex;
    flex-direction: row;
}
.third-part-text h1{
    position:relative;
    font-weight: 900;
    width: 50%;
    padding-top: 100px;
    left: 630px;
    font-size: 36px;
    color: #333333;
}

.third-part-text p{
    position: relative;
    left: 630px;
    font-size: 18px;
    width: 500px;
}
.third-part-text a{
    position: relative;
    left: 630px;
    top: 30px;
    font-size: 16px;
    text-decoration: none;
    background: #FF5959;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 40px;
    
}
.fourth-part h1{
    font-weight: bold;
    position: relative;
    width: 506px;
    height: 10px;
    left: 156px;
    top: 220px;
    font-size: 36px;
    line-height: 54px;

}
.fourth-part p{
    position: absolute;
    width: 540px;
    height: 120px;
    left: 156px;
    top :1910px;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
}
.fourth-part a{
    background: #FF5959; 
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 16px;
    left: 156px;
    width: 140px;
    
    top: 2050px;
    position: absolute;

}
.fourth-img img{
    width: 400px;
    height: 400px;
    top: 1750px;
    left: 863px;
    border-radius: 26px;
    position: absolute;

}
.headline-sec{
    width: 616px;
    height: 74px;
    left: 412px;
    top: 2300px;
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    text-align: center;
    position: absolute;
}
.headline-sec span{
    color: #FFAD5A;
}

.fifth-part h1{
    font-weight: bold;
    position: absolute;
    width: 506px;
    height: 100px;
    left: 156px;
    top: 2470px;
    font-size: 36px;
    line-height: 54px;
    

}
.fifth-part h2{
    font-weight: bold;
    position: absolute;
    width: 506px;
    height: 100px;
    left: 156px;
    top: 2650px;
    font-size: 36px;
}
.fifth-part span{
    color:#FFAD5A
}
.fifth-part p{
    position: absolute;
    width: 540px;
    height: 120px;
    left: 156px;
    top :2540px;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
}

.fifth-part a{
    background: #FF5959; 
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 16px;
    left: 156px;
    width: 80px;
    top: 2740px;
    position: absolute;

}
.fifth-img img{
    width:338px;
    height: 400px;
    top: 2400px;
    left: 863px;
    border-radius: 26px;
    position: absolute;

}

.footer-class{
    position: relative;
    text-align: center;
    top: 1400px;
    background-color: black;
    color: white;
    padding-top:50px;
    padding-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    
    
}
.footer-class span{
    color: #FFAD5A;
}